@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Homemade+Apple&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
.App {
  text-align: center;
  background: url(./img1.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
}

#header1 {
  background-image: url(./img3.png);
  z-index: 1;
  max-width: 100%;
  height: auto;
  background-color: goldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(100px + 2vmin);
  color: white;
  font-family: "Bangers", cursive;
}

span {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: calc(40px + 2vmin);
  font-family: "Homemade Apple", cursive;
  font-weight: 500;
}

.App-link {
  color: #61dafb;
}
